*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.flex_practice div{
    padding:10px;
    background: #0bd;
    border: 1px solid black;
}

.grid_practice div{
    padding:10px;
    width:100%;
    aspect-ratio: 1/1;
    background: #0ef;
    border: 1px solid black;
}

.flex_practice{
    width: 800px;
    display: flex;
    gap:20px;
    margin:0 auto;
    justify-content: center;
    background: #aaa;
}

.grid_practice{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:40px;
    width: 600px;
    margin:100px auto 0;
    background: #aaa;
}